.aboutUsContainer {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding-bottom: 3rem;
    padding-top: 1rem;
}

.aboutUs {
    font-size: 18px;
    text-align: center;
    color:black;
    width: 50%;
}

.lorusAbout {
    color: black;
}