.divider {
    border: 0.5px solid #001D3D;
    height: 4px;
    width: 80%;
    display: table;
    border-radius: 4px;
    background-color: #001D3D;
}

.dividerContainer {
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}