.landingImg {
    width: auto;
    height: auto; /* Maintains the image's aspect ratio */
    display: block; /* Removes any extra spacing below the image */
}

.imgContainer {
    width: 100%;
    margin: 0;
}

.callToAction {
    width: 300px;
    flex: 1;
    border: 1px solid #ccc;
}

