.featureMain {
    height: 25rem;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    
}

.whyGoat {
    font-size: 18px;
    display: inline-block;
    text-align: center;
    padding: 2rem;
    padding-left: 3rem;
    width: 30%;
    margin-left: 6rem;
    margin-top: 4.5rem;
    flex: 0 0 30%;
}

.pWhy {
    color: black;
}

.featureStack {
    display: inline-block;
    position: relative;
    margin: 4rem;
    flex: 0 0 30%;
}

.featureCard {
    width: 18rem;
    height: 12rem;
    border-radius: 5px;
    position: absolute;
}

.featureCard-front {
    background-color: #FFD60A;
    z-index: 2;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.featureCard-back {
    background-color: #FFD60A;
    z-index: 1; /* Place the back card below the front card */
    margin-top: 1rem;
    margin-right: 1rem;
}